/*	Horner Frédéric 
	T1F - 03.03.2017*/

@font-face {
    font-family: 'Starjedi';
    src: url('Starjedi.ttf');
}
body{
	background:black;
	background-image:url(images/darth-vader-big.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	font-family:Starjedi;
	background-attachment: fixed; /* lmt */
}
#logo{
	margin-top:350px;
	text-align:center;
	height:225px;
}			
#corps{
	background-color:black;
	margin-top:250px;
}
#corps h1{
	color:#fd1700;
	font-family:Starjedi;
}
#corps #picture{
	float:left;
	margin-right:80px;
	font-size:18px;
	margin-left:10%;
	margin-bottom:70px;
}
#head{
	text-align:center;
}
#corps #cv h1{
	font-family:Starjedi;
}
#corps #cv{
	font-family:Arial;
	background-color:#000000;
	color:#ffffff;
	float:right; /* pq pas left ??? */
	width: 500px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:35px;
	font-size:19px;
	margin-right:10%;
	margin-bottom:70px;
}	
#corps #clear{
	clear:both;
}		
#footer{
	color:#ffffff;
	text-align:center;
	font-size:12px;
	padding-top:20px;
	padding-bottom:30px;
	background:black;
}



