html, body {
	height: 100%;
	color: white;
}

.nav {
	top: initial;
}

.off-canvas{
  background: #424242 !important;
  top: 56px !important;
  bottom: 30px !important;
  position: fixed;
  height: initial;
}

.off-canvas-wrapper {
	min-height: 100%;
}

main {
	padding-bottom: 100px;
}

.title {
	margin-top: 10px;
	margin-left: .625rem;
}

a:hover{
	color: #8F8F8F;
}

.btn-submit{
  background-color: #6F0202;  
}



label{
	font-size: 15pt;
	color: white;
}

.btn-add{
  position: fixed;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 30pt;
  line-height: 65px;
  border-radius: 10%;
  color: white;
  background-color: #6F0202;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  width: 100px;
  height: 50px;
}