.top-bar{
	background-color: #6F0202;
}

.top-bar-title {
	font-size: 2em;
	color: white !important;
}

.top-bar-menusup {
	color: white;
}

.top-bar-menu {
	color: white;
	margin:0px 15px 0px 15px;
	font-size: 20px;
}

.vertical-menu-item{
	color: white;
}

.header-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #6F0202;
}
