.manuel{
	background-color:white;
	height: 100%;
	width: 100%;
	padding: 0% 2% 0% 2%;
}

.manuel-body{
	color: black;
	background-color: #CECECE;
	list-style:none;
}

.manuel-list-item{
	list-style-type: none;
}

.mode-img{
	display: block;
	margin: auto;
	text-align: center;
}



