.userlist {
	list-style: none;
  	padding: 0;
	margin: 0;
}

.userlist-body{
	background-image:url(../../assets/img/doom_background_user.png);
	background-size: cover;
}

.userlist-header, .userlist-item {
	padding: 10px;
	width: 100%;
}

.userlist-header {
	background: #6F0202;
  	color: white;
  	font-weight: bold;
}

.userlist-item-id{
	display: inline-block;
	width: 50px;
	margin:0px 10px 0px 10px;
	text-align: center;
}
.userlist-item-priority{
	display: inline-block;
	width: 100px;
	margin:0px 10px 0px 10px;
	text-align: center;
}

.userlist-item-description{
	display: inline-block;
	width: 250px;
	margin:0px 10px 0px 10px;
}

.userlist-item-creator{
	display: inline-block;
	width: 100px;
	margin:0px 10px 0px 10px;
	text-align: center;
}

.userlist-item-assignee{
	display: inline-block;
	width: 100px;
	margin:0px 10px 0px 10px;
	text-align: center;
}

.userlist-item-due{
	display: inline-block;
	width: 250px;
	margin:0px 10px 0px 10px;
	text-align: center;
}

.userlist-item-username{
	display: inline-block;
	width: 100px;
	margin:0px 10px 0px 10px;
	text-align: center;
}

.userlist-item-email{
	display: inline-block;
	width: 100px;
	margin:0px 10px 0px 10px;
	text-align: center;
}

.userlist-item-actions .fa-check {
  color: green;
}

.userlist-item-actions .fa-times {
  color: red;
}

.userlist-item-actions .fa-pencil {
  color: white;
}

.userlist-item-close {
	background: grey!important;
}

.userlist-item-close > span {
  text-decoration: line-through;
}

.userlist-item-close .userlist-item-actions {
  text-decoration: none;
}

.userlist-item-close .userlist-item-actions .fa, .userlist-item-close > span {
  color: silver;
}